.engagements__wrap {
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.engagements__presentation {
  padding: 100px 0 200px;
  width: 90%;

  @include medium() {
    width:75%;
  }
}

.engagements__presentation h2 {
  font-size : 1.25rem;
  @include medium() {
    font-size: 2rem;
  }
}

.engagements__presentation span {
  font-size : 1.5625rem;
  @include medium() {
    font-size: 1.75rem;
  }
}

.engagements__item {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  @include medium() {
    width:75%;
  }
}

.engagements__item h2 {
  padding: 15px 0;
}

.engagements__item img {
  width: 95%;
  height: auto;

  @include small() {
    width: 450px;
    height: auto;
  }
}

.engagements__item p {
  width:95%;
  text-align: center;
  padding-bottom: 20px;

  @include small() {
    width:80%;
  }
}

.engagements__item a {
  font-size: .75rem;
  color:var(--blanc);
  text-decoration: none;
  border:solid 5px var(--vert);
  background-color: var(--vert);
  border-radius: 20px;
  padding: 8px 14px;
}