@import url(reset.scss);
@import url(header.scss);
@import url(produits.scss);
// @import url(burger.scss);
// @import url(conseils.scss);
// @import url(engagements.scss);

@font-face {
  font-family: "creamy";
  src: url("./../fonts/creamy.woff2") format("woff2")
}

@font-face {
  font-family: "orgon";
  src: url("./../fonts/orgon-regular.otf") format("otf");
}

@mixin m {
  @media (min-width:800px) {
    @content;
  }
}

:root {
  --vert: #00ab2e;
  --rouge: #e6002c;
  --blanc: #fdf1dc;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  height:100%;
}

body {
  height: 100%;
  background-color: var(--blanc);
}

.barre {
  width: 3.125rem;
  height: .3125rem;
  background: var(--rouge);
  border-radius: 6px;
}