@import url(reset.scss);
@import url(header.scss);
@import url(produits.scss);
@import url(burger.scss);
@import url(conseils.scss);
@import url(engagements.scss);

@font-face {
  font-family: "creamy";
  src: url("./../fonts/creamy.woff2") format("woff2")
}

@font-face {
  font-family: "orgon";
  src: url("./../fonts/orgon.woff2") format("woff2");
}

@mixin m {
  @media (min-width:800px) {
    @content;
  }
}

@mixin xl {
  @media (min-width:1400px) {
    @content;
  }
}

:root {
  --vert: #00ab2e;
  --rouge: #e6002c;
  --blanc: #fdf1dc;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  height:100%;
}

body {
  height: 100%;
  background-color: var(--blanc);
  font-family: "orgon";
}

.barregauche__courte {
  margin: 10px 0;
  width: 50px;
  height: 4px;
  background: var(--rouge);
  border-radius: 10px;
}

.barredroite__courte {
  position: absolute;
  right: 5%;
  margin: 10px 0;
  width: 50px;
  height: 4px;
  background: var(--rouge);
  border-radius: 10px;
}

.barredroite__longue {
  position: absolute;
  right: 5%;
  margin-top: 10px;
  width: 100px;
  height: 8px;
  background: var(--rouge);
  border-radius: 10px;
}

.barregauche__longue {
  margin-top: 10px;
  width: 100px;
  height: 8px;
  background: var(--rouge);
  border-radius: 10px;
}

.barre__horizontale {
  margin: 10px 0;
  width: 75px;
  height: 8px;
  background: var(--vert);
  border-radius: 10px;
}

.barre__spacing {
  width: 100%;
  height:20px;
}

.transition__gradient {
  background: linear-gradient(0deg, var(--vert), var(--blanc));
  height: 250px;
}

.transition__gradient2 {
  background: linear-gradient(0deg, var(--blanc), var(--vert));
  height: 250px;
}

#back-to-top-btn {
  z-index:3;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 1.875rem;
  width: 45px;
  height: 45px;
  background-color: var(--blanc);
  color: black;
  border: 3px solid black;
  border-radius: 50%;
  transition-duration: 0.5s;
}
#back-to-top-btn:hover, #back-to-top-btn:focus {
  background-color: black;
  color: var(--blanc);  
}

/* Apparition */

.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}

@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Disparition */

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;  
  animation-name: btnExit;
}

@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

a:first-child {
  text-decoration: none;
}